[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "garchx"]
	path = garchx
	url = https://github.com/gsucarrat/garchx
	subdir = garchx
[submodule "gets"]
	path = gets
	url = https://github.com/gsucarrat/gets
	subdir = gets
[submodule "gfunctions"]
	path = gfunctions
	url = https://github.com/cran/gfunctions
